header{
    background-image: url('../assets/images/bg-header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
  .logo-topo{
    padding: 24px 0; 
  }